@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap");

* {
  font-family: "Raleway", sans-serif;
}

html,
body {
  font-size: 16px;
  background-color: #2d1616;
  box-sizing: border-box;
  margin-left: 0px;
  margin-right: 0px;
}

.main-container {
  display: flex;
  justify-content: center;
}

.exercise-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.special-paragraph {
  padding: 50px;
  box-sizing: border-box;
  font-size: 1.2rem;
}

.results {
  font-size: 1.4rem;
  font-weight: 500;
  color: white;
}

#jart-btn {
  cursor: pointer;
  background-color: gray;
  color: black;
  border-radius: 9px;
  text-align: center;
  padding: 4px;
  font-size: 3rem;
  transition: color 0.3s ease-in-out;
}

#jart-btn:hover {
  color: white;
}

#jart-btn:active {
  background-color: rgb(72, 72, 72);
  padding: 3px;
}

.dropzone-file {
  display: flex;
  padding: 12px;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: full;
  border-width: 2px;
  border-color: gray;
  border-style: dashed;
  border-radius: 9px;
  margin: 10px;
  transition: background-color 0.3s ease-in-out;
  color: black;
}

.black-text {
  color: black;
}

#hidden {
  padding: 12px;
  width: full;
}

.dropzone-file:hover {
  background-color: rgb(175, 175, 175);
}

.title-jart {
  font-size: 9rem;
  padding: 30px;
  margin: 0px;
  text-align: center;
  color: white;
}

#uploaded-image {
  padding: 10px;
  background-color: #9b9ece;
  border-radius: 9px;
}

#flex-row {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.meal-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container {
  position: relative;
  background-color: #9b9ece;
  color: white;
  width: 30%;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  height: 900px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px black;
}

.container > h2,
.container > h3 {
  text-align: center;
  padding-top: 50px;
  margin: 0;
  font-size: 3rem;
}

.image-container > img {
  height: 900px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  box-shadow: 0px 0px 20px black;
}

::-webkit-input-placeholder {
  color: white;
}

::-moz-placeholder {
  color: white;
}

::-ms-placeholder {
  color: white;
}

::placeholder {
  color: white;
}

form > input,
form > select {
  background-color: #9b9ece;
  padding: 30px 0px 7px 0px;
  border: none;
  outline: none;
  color: white;
  margin: 10px;
  display: block;
  width: 70%;
  appearance: none;
  font-size: 1.2rem;
}

.input-binary {
  background-color: #9b9ece;
  border: none;
  outline: none;
  color: white;
  display: block;
  appearance: none;
  font-size: 1.2rem;
  margin: 0px;
  width: 100%;
}

label {
  padding-left: 40px;
  color: rgb(74, 42, 42);
}

.input-area {
  border-bottom: solid;
  border-width: 1px;
  margin: auto;
}

.smaller-input-area {
  font-size: 0.9rem;
  padding-top: 0px;
  margin-bottom: 30px;
}

.select-option {
  height: 10px;
}

form {
  padding: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.form-submit {
  border: none;
  background-color: #c3c49e;
  padding: 7px;
  font-size: 1rem;
  width: 30%;
  border-radius: 4px;
  position: absolute;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  margin-top: 40px;
}

.form-submit:hover {
  background-color: #abac85;
}

.form-submit:active {
  background-color: #8d8f5e;
}

.user-input-notif {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.binary-choosing {
  border-bottom: solid;
  border-width: 1px;
  margin: auto;
}

.binary-container {
  display: flex;
  justify-content: center;
}

.select-option-binary {
  width: 100px;
}

.document-card {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  width: 50%;
  margin: 0px auto;
}

.big-title {
  font-size: 2rem;
  width: 100%;
  text-align: center;
  color: white;
}

.white-text {
  color: white;
  width: 80%;
  margin: 0px auto;
  padding: 90px;
}

.foodCatImg {
  width: 300px;
}

.scary-image {
  width: 200px;
  padding: 50px;
}

.scary-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 500px) {
  .special-paragraph {
    font-size: 1rem;
  }
  input {
    font-size: 0.4rem;
  }
  .big-title {
    font-size: 0.9rem;
  }
  .foodCatImg {
    width: 100px;
  }
}

@media only screen and (max-width: 950px) {
  .image-container img {
    display: none;
  }

  .container {
    width: 80%;
  }

  .meal-img {
    display: none;
  }
  .document-card {
    width: 90%;
  }
  #uploaded-image {
    width: 100px;
    height: 100px;
  }
  scary-image {
    width: 300px;
  }
}

@media only screen and (max-width: 400px) {
  .dropzone-file {
    padding: 0px;
  }
  .jart-btn {
    padding: 0px;
  }
  .title-jart {
    font-size: 4rem;
  }
  #uploaded-image {
    margin: 20px;
  }

  #flex-row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
